fastapi[standard]
uvicorn[standard]
python-multipart
pydantic[email]
email-validator
python-dotenv
pdfplumber
pypdfium2
langchain
langchain-groq
langchain-core
langchain-text-splitters
langchain-google-genai
google-generativeai
pytesseract
python-docx
reportlab
Pillow
youtube-transcript-api
yt-dlp
pymongo
motor
python-jose[cryptography]
passlib[bcrypt]
bcrypt
sqlalchemy
requests